rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
    function isAllowedUpload() {
      return request.resource.size < 15 * 1024 * 1024 &&
        (request.resource.contentType.matches('image/.*') ||
         request.resource.contentType == 'application/pdf');
    }

    match /users/{userId}/{allPaths=**} {
      allow read: if isOwner(userId);
      allow create, update: if isOwner(userId) && isAllowedUpload();
      allow delete: if isOwner(userId);
    }
  }
}
